.details {
    margin-top: 50px;
}

.addExperience {
    margin: 50px;
    padding: 15px 50px;
    border-radius: 7px;
    color: white;
    font-size: larger;
    font-weight: 700;
    box-shadow: 3px 3px 5px hsl(40, 10%, 76%);
    background: linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(100, 103, 255, 0.4824054621848739) 0%,
            rgba(83, 150, 252, 0.77) 100%);
    border: none;
    width: auto;
}

.addExperience:active {
    box-shadow: -1px -1px 5px hsl(40, 10%, 76%);
    background: linear-gradient(-90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(100, 103, 255, 0.4824054621848739) 0%,
            rgba(83, 150, 252, 0.77) 100%);
}

.workExpForm {
    width: 75%;
    display: block;
    flex-direction: column;
    align-items: start;
    border-radius: 5px;
    background-color: #f4f3f1;
    box-shadow: 5px 5px 5px lightgrey;
    padding: 30px;
    align-self: center;
    margin-top: 50px;
}

.companyName,
.description {
    display: block;
    width: 100%;
    height: 30px;
    background-color: white;
    border: none;
    font-size: small;
    padding: 10px;
    box-sizing: border-box;
}

.workExpForm h3 {
    margin: 0px auto 30px auto;
    width: 100%;
}

.dateSection {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dateSectionLabels,
.dateSectionValues,
.dateSectionValues-editable {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dateSectionValues>*,
.dateSection-Values-Editable>* {
    width: 100%;
}

.checkboxSection {
    display: flex;
    align-items: center;
}

.labelEmployer {
    font-size: smaller;
}

.dateSectionLabels>label {
    width: 50%;
    font-size: small;
    font-weight: 600;
}

.description {
    min-height: 100px;
    resize: none;
}

.experienceForm {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.saveBtn {
    margin: 35px auto;
    padding: 10px 50px;
    border: none;
    background-color: orange;
    color: white;
    font-size: large;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px lightgrey;
}

.saveBtn p {
    margin: 0px auto;
}

.saveBtn:hover {
    background-color: rgb(222, 146, 5);
}

.closeBtn {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.alertText {
    color: red;
    display: none;
    margin: 0px 25px;
}

.experienceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expListContainer {
    background-color: #f4f3f1;
    max-height: 400px;
    width: 100%;
    overflow-y: scroll;
    padding-top: 30px
}

.expSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchText {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    box-sizing: border-box;
    color: hsl(40, 13%, 32%);
    background-color: #f4f3f1;
    font-weight: 500;
    outline: none;
    font-size: medium;
    box-shadow: -3px 3px 10px hsl(40, 10%, 76%);
    border-radius: 10px;
}